<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Qora Web Server">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Qora Blog</title>
    <link href="/index/libs/bootstrap/3/css/theme.css" rel="stylesheet">
    <link href="/index/libs/css/style.css" rel="stylesheet">
    <link href="/index/libs/css/sidebar.css" rel="stylesheet">
    <link href="/index/libs/css/timeline.css" rel="stylesheet">
    <style type="text/css">
	     html, body {
		   height: 100%;
		   width: 100%;
	    }
      .media:first-child {
      margin-top: 0;
      padding-left: 20px;
      padding-top: 20px;
      padding-right: 20px;
      }
      .media-heading {
      margin-top: 20px;
      margin-bottom: 5px;
      }
      .media-object {
      height: 74px;
      }
      p.post-header {
      padding-bottom: 0px !important;
      font-size: 15px;
      }
      p.post-content {
      padding-top: 0px !important;
      }
      .timeline {
      padding: 20px;
      }
      .glyphicon.glyphicon-record {
      display: none;
      }
      .glyphicon.glyphicon-record:hover {
      display: none;
      }
      .timeline:before {
      display: none;
      }
      .timeline > li {
      float: none;
      }
      .timeline > li > .timeline-panel:before {
      display: none;
      }
      .timeline > li > .timeline-panel:after {
      display: none;
      }
      .timeline > li:nth-child(2){
      margin-left: auto;
      margin-right: auto;
      }
	    .textalign{
		  display: table-cell;
  		vertical-align: middle;
	  	width: 900px;
	  	height: 600px;
	    }
      #result {
      position: fixed;
      top: 20px;
      margin-left: auto;
      margin-right: auto;
      z-index: 9999;
      width: 840px
      }
      .modal-content {
      height: 550px;
      overflow: auto;
      }
    </style>
  </head>
  <body>
    <div class="textalign">
	<div class="container-fluid">
      <div class="postblog">
        <div class="col-lg-8">
          <input name="newpost" value="" type="hidden">
          <!--
          <form class="form-horizontal">
          <fieldset>
          --><br>
          <legend>Create a new post</legend>
          <div class="form-group"><div id=result></div>{{ errormessage}}
            <label for="title" class="col-lg-2 control-label">Title</label>
            <div class="col-lg-10">
              <input id="title" type="text" placeholder="Title (optional)" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="content" class="col-lg-2 control-label">Content</label>
            <div class="col-lg-10">
              <textarea id="content" rows="3" class="form-control"></textarea><span class="help-block"></span><span id="charNum" class="help-block">3000</span>
            </div>
          </div>
          <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Address</label>
            <div class="col-lg-10">
              <select id="addr" value="1" class="form-control">{{ option }}</select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2"><br>
              <button type="preview" name="do" value="post" onclick="javascript:processpost(true)" class="btn btn-primary">Preview</button>
              <button type="submit" name="do" value="post" onclick="javascript:processpost(false)" class="btn btn-primary pull-right">Submit</button>
            </div>
          </div>
          <!--
          </fieldset>
          </form>
          -->
        </div>
      </div>
    </div><br>{{ font }}
    <div id="prevmodal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" onclick="javascript:hide()" data-dismiss="modal" aria-hidden="true" class="close">×</button>
            <h4 class="modal-title">Post preview</h4>
          </div>
          <div class="modal-body">
            <div class="main">
              <ul class="timeline" id=previewPost>
				<li style='width: 100%;'><div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="POST TIME" id=""></i></a></div><div class="timeline-panel"><div class="timeline-heading">
				<div class="media"><div class="media-left media-middle">
				<a href="#"><img class="media-object" id=previewAvatar src="" alt=""></a></div>
				<div class="media-body">
				<h6 class="media-heading"><b><span id=previewNameOrCreator></span></b></h6><span id=previewCreationTime></span></div></div>
				</div>
				<div class="timeline-body"><p class="post-header"><b><span id=previewTitleOpt></span></b></p><p class="post-content"><span id=previewDescription></span></p></div></div></li>
                <li style="float: none;" class="clearfix"></li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" name="close" onclick="javascript:hide()" data-dismiss="modal" class="btn btn-default">Close</button>
          </div>
        </div>
      </div>
    </div>

	</div>
    <script src="/index/libs/jquery/jquery.2.js"></script>
    <script src="/index/libs/bootstrap/3/js/bootstrap.min.js"></script>
    <script src="/index/libs/angular/angular.1.4.js"></script>
    <script src="/index/libs/js/sidebar.js"></script>
	<script src="/index/libs/js/common.js"></script>
    <script type="text/javascript">
    var processpost;

    function getParameter(name) {
        if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))
            return decodeURIComponent(name[1]);
    }

    function hide() {
        $('#prevmodal').hide();
    }


    processpost = function(preview) {

		var content, creator, title, blogname;
        title = document.getElementById('title').value;
        content = document.getElementById('content').value;
        creator = document.getElementById('addr').value;
        blogname = getParameter('blogname');
        postid = getParameter('postid');

		if (content == '') {
			$("#result").html("<div class=\"alert alert-dismissible alert-danger\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">×</button>Entering text is mandatory.<br></div>");
            return 0;
        }
        if (creator == '') {
			$("#result").html("<div class=\"alert alert-dismissible alert-danger\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">×</button>Entering creator is mandatory.<br></div>");
            return 0;
        }

		$("#result").html('<div class=\"alert alert-info\" role=\"alert\">Sending...<br></div>');

		$.post(
			"/index/postblogprocessing.html",
			{
				title: title,
				content: content,
				creator: creator,
				blogname: blogname,
				preview: preview,
				postid: postid
			}).done( function(data) {
				if(data.type == 'preview')
				{
					$('#prevmodal').show();
					$("#previewAvatar").attr("src", data.previewBlogpost.avatar);
					$("#previewNameOrCreator").html(data.previewBlogpost.nameOrCreator);
					$("#previewCreationTime").html(data.previewBlogpost.creationTime);
					$("#previewTitleOpt").html(data.previewBlogpost.titleOpt);
					$("#previewDescription").html(data.previewBlogpost.description);
					addYoutube();
					$("#result").html('');
				} else if (data.type == 'postSuccessful') {
					$("#result").html('<div class=\"alert alert-dismissible alert-success\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">×</button>Your post was successful<br>'+wordwrap(data.result, 50, '<br>', true)+'<br></div>');
					
					var location1;
					
					if(window.parent != null)
					{
						location1 = window.parent.location;
					}
					else
					{
						location1 = window.location;
					}
						
					if(postid != null)
					{
						setTimeout(function() { location1.href = "/index/showpost.html?msg=" + postid; }, 1500)
					}
					else
					{
						setTimeout(function() { location1.reload(); }, 1500)
					}
					
				} else if (data.type == 'error') {
					try {
						var error = JSON.parse(data.error);
						message = error.message;
					} catch (e) {
						message = data.error;
					}

					$("#result").html('<div class=\"alert alert-dismissible alert-danger\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">×</button>Your post was NOT successful<br>' + message+'<br></div>');
				}

			}).fail( function(xhr, textStatus, errorThrown) {
				$("#result").html('<div class=\"alert alert-dismissible alert-danger\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">×</button>ERROR<br>'+xhr.responseText+'<br></div>');
			});
		return 0;
    };
    $(document).ready(function() {
                if (getParameter('preview') == 'true') {
                    $('#prevmodal').show();
                }
                $('#title').val('{{ oldtitle }}');
                $('#content').val('{{ oldcontent }}');
      {% if oldcreator is empty %}
      	{% if primaryname is not null %}
     	 $('#addr').val('{{ primaryname }}');
      	{% endif %}
      {% else %}
      $('#addr').val('{{ oldcreator }}');
      {% endif %}
      });

	function addYoutube()
	{
		var v = document.getElementsByClassName("youtube-player");
			for (var n = 0; n < v.length; n++) {
			var p = document.createElement("div");
			p.innerHTML = labnolThumb(v[n].dataset.id);
			p.onclick = labnolIframe;
			v[n].appendChild(p);
		}
	}			
	
	function labnolThumb(id) {
	    return '<img class="youtube-thumb" src="//i.ytimg.com/vi/' + id + '/hqdefault.jpg"><div class="play-button"></div>';
	}

	function labnolIframe() {
	    var iframe = document.createElement("iframe");
	    iframe.setAttribute("src", "//www.youtube.com/embed/" + this.parentNode.dataset.id + "?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&controls=0&showinfo=0");
		iframe.setAttribute("frameborder", "0");
		iframe.setAttribute("id", "youtube-iframe");
		this.parentNode.replaceChild(iframe, this);
	}
		
    </script>
    <script type="text/javascript">

    $("#content").bind('input propertychange', function() {
        el = $(this);
        if (el.val().length > 3000) {
            el.val(el.val().substr(0, 3000));
        } else {
            $("#charNum").text(3000 - el.val().length);
        }
    });
    </script>
  </body>
</html>
