<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Qora Web Server">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Qora Web</title>
    <link href="/index/libs/bootstrap/3/css/theme.css" rel="stylesheet">
    <link href="/index/libs/css/style.css" rel="stylesheet">
    <link href="/index/libs/css/sidebar.css" rel="stylesheet">
    <style type="text/css">
      body {
      padding-top: 50px;
      }
      .sub-header {
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
      }
      .navbar-fixed-top {
      border: 0;
      z-index: 9999;
      }
      .sidebar {
      display: none;
      }
      @media (min-width: 768px) {
      .sidebar {
      position: fixed;
      top: 51px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #f5f5f5;
      border-right: 1px solid #eee;
      }
      }
      .nav-sidebar {
      margin-right: -21px;
      margin-bottom: 20px;
      margin-left: -20px;
      }
      .nav-sidebar > li > a {
      padding-right: 20px;
      padding-left: 20px;
      }
      .nav-sidebar > .active > a,
      .nav-sidebar > .active > a:hover,
      .nav-sidebar > .active > a:focus {
      color: #fff;
      background-color: #428bca;
      }
      .main {
      padding-top: 40px;
      padding-bottom: 40px;
      }
      .main-tabs {
      width: 100%;
      padding-top: 15px;
      padding-left: 0px;
      padding-right: 0px;
      background-color: lightgray;
      }
      img.logo-header {
      background-color: transparent;
      height: 100%;
      }
      .col-lg-8 {
      padding-left: 0px;
      }
      @media (min-width: 768px) {
      .main {
      padding-right: 40px;
      }
      }
      .main .page-header {
      margin-top: 0;
      }
      .placeholders {
      margin-bottom: 30px;
      text-align: center;
      }
      .placeholders h4 {
      margin-bottom: 0;
      }
      .placeholder {
      margin-bottom: 20px;
      }
      .placeholder img {
      display: inline-block;
      border-radius: 50%;
      }
      .r-t {
      margin: 0px;
      }
      .r-l {
      margin: 0px;
      }
      span.label.label-default {
      background-color: #fff;
      color: lightgray;
      font-size: 90%;
      line-height: 1;
      }
      span.label.label-default a {
      color: #ddd;
      text-decoration: none;
      }
      a.r-l:hover,
      a.r-l:focus {
      color: #6467FF;
      text-decoration: none;
      }
      .navbar-header {
      width: 110px;
      }
      .col-centered {
      float: none;
      margin: 0 auto;
      padding: 30px;
      /*box-shadow: 0px 1px 1px 1px #ddd;*/
      border: 1px solid #ddd;
      position: relative;
      -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      }
      .main-tabs {
      display: none;
      }
    </style>
  </head>
  <body>
    {{navbar}}
    <div class="container">
      <div class="row">
        <div class="main">
          <div class="col-lg-8 col-centered">
        <div class="form-horizontal">
          <!-- <fieldset> -->
            <legend>Settings</legend>
			<div id=result></div>
            	{{result}}
            <div class="form-group">
              <label for="select-name" class="col-lg-2 control-label">Name</label>
              <div class="col-lg-10">
                <select class="form-control" id="select-name">
                  {% for name in names %}
					<option value={{name.name}}>
						{{name.NameBalanceString}}</option>
					{% endfor %}
                </select>
                <div class="checkbox">
                  <label>
                    <br><input type="checkbox" id="profile-status"> Enable Profile
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="Banner" class="col-lg-2 control-label">Profile Banner</label>
              <div class="col-lg-10">
                <input type="url" class="form-control" id="banner" placeholder="Profile Banner" disabled="">
              </div>
            </div>
            <div class="form-group">
              <label for="avatar" class="col-lg-2 control-label">Profile Picture</label>
              <div class="col-lg-10">
                <input type="url" class="form-control" id="avatar" placeholder="Profile Picture" disabled="">
                <div class="checkbox">
                  <label>
                    <br><input type="checkbox" id="blog-status"> Enable Blog
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="blogtitle" class="col-lg-2 control-label">Blog Title</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="blogtitle" placeholder="Blog Title" disabled="">
              </div>
            </div>
            <div class="form-group">
              <label for="blogdescription" class="col-lg-2 control-label">Blog Description</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="blogdescription" placeholder="Blog Description" disabled="">
              </div>
            </div>
            <div class="form-group">
            <div class="checkbox">
              <label for="blockComments" class="col-lg-2 control-label"></label>
                  <label>
                    <br><input type="checkbox" id="blockComments"> Disable Comments
                  </label>
            </div>
            </div>

			<div class="form-group">
              <label for="blogdescription" class="col-lg-2 control-label">Black/Whitelist </label>

              <div class="col-lg-10">
                <select class="form-control" id="select-list-type">
					<option selected="selected" value=black>Blacklist</option>
					<option value=white>Whitelist</option>
                </select>
				<br>
				<div style="border: 2px solid #ddd;  border-radius: 6px; padding: 10px;">
				<table id="tblData" width=100%>
				<thead>
				<tr>
				<th>Addresses:</th>
				<th></th>
				</tr>
				</thead>
				<tbody>
				</tbody>
				</table>
				<br>
				<button id="btnAddd" class="btn btn-default">New Address</button>
				</div>
				<br><br>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" id="btncancel" onclick="javascript:reload()" class="btn btn-default">Cancel</button>
            	 <button type="submit" id="btnsubmit" onclick="javascript:updateValue()" class="btn btn-primary pull-right">Submit</button>
              </div>
            </div>
          <!-- </fieldset> -->
        </div>
      </div>
      </div>
      </div>
    </div>
    <script src="/index/libs/jquery/jquery.2.js"></script>
    <script src="/index/libs/bootstrap/3/js/bootstrap.min.js"></script>
    <script src="/index/libs/angular/angular.1.4.js"></script>
    <script src="/index/libs/js/sidebar.js"></script>
    <script type="text/javascript">
    var transformToAssocArray;
    transformToAssocArray = function(prmstr) {
        var i, params, prmarr, tmparr;
        params = {};
        prmarr = prmstr.split('&');
        i = 0;
        while (i < prmarr.length) {
            tmparr = prmarr[i].split('=');
            params[tmparr[0]] = tmparr[1];
            i++;
        }
        return params;
    };
    var getSearchParameters;
    getSearchParameters = function() {
        var prmstr;
        prmstr = decodeURIComponent(window.location.search.substr(1));
        if (prmstr != null && prmstr != '') {
            return transformToAssocArray(prmstr);
        } else {
            return {};
        }
    };

    var updateValue;
    updateValue = function() {

		document.getElementById('result').innerHTML = '<div class=\"alert alert-info\" role=\"alert\">Saving...<br></div>';

		allbwlistData = "";
		var MyRows = $('table#tblData').find('tr');
			for (var i = 1; i < MyRows.length; i++){
					allbwlistData += $(MyRows[i]).find('td:eq(0)').children("input[type=text]").val() + ";";
			}

		$.post(
			"/index/settingssave.html",
			{
				profilename: document.getElementById('select-name').value,
				profileenable: document.getElementById('profile-status').checked,
				blogenable: document.getElementById('blog-status').checked,
				blogdescription: document.getElementById('blogdescription').value,
				blogtitle: document.getElementById('blogtitle').value,
				profileavatar: document.getElementById('avatar').value,
				profilemaingraphic: document.getElementById('banner').value,
				blogblockcomments: document.getElementById('blockComments').checked,
				blackwhitelist: allbwlistData,
				bwlistkind: document.getElementById('select-list-type').value
			})
			.done( function(data) {
				if (data.type == 'settingsSuccessfullySaved')
				{
					document.getElementById('result').innerHTML = "<div class=\"alert alert-success\" role=\"alert\">Settings successfully saved.<br></div>";
				}
				else if(data.type == 'parametersMissing')
				{
					document.getElementById('result').innerHTML = "<div class=\"alert alert-danger\" role=\"alert\">Some parameters are missing.<br></div>";
				}
				else if(data.type == 'profileNameisnotAllowed')
				{
					document.getElementById('result').innerHTML = "<div class=\"alert alert-danger\" role=\"alert\">Profile Name is not Allowed.<br></div>";
				}
				else if (data.type == 'error')
				{
					try {
						var error = JSON.parse(data.error);
						message = error.message;
					} catch (e) {
						message = data.error;
					}

					document.getElementById('result').innerHTML = "<div class=\"alert alert-danger\" role=\"alert\">An error occurred while saving settings.<br>"+message+"<br></div>";
				}
				else
				{
					document.getElementById('result').innerHTML = "<div class=\"alert alert-danger\" role=\"alert\">Unknown response:<br>"+data+"<br></div>";
				}
			})
			.fail( function(xhr, textStatus, errorThrown) {
				document.getElementById('result').innerHTML = '<div class=\"alert alert-danger\" role=\"alert\">ERROR<br>'+xhr.responseText+'<br></div>';
			});
    };

      var updateValue;
    reload = function() {
    var profilename;
    profilename = document.getElementById('select-name').value;
        document.location.href = '/index/settings.html?profilename=' + profilename;
    };

      $(function(){
      // bind change event to select
      $('#select-name').on('change', function () {
          var url = $(this).val(); // get selected value
          if (url) { // require a URL
              window.location = '/index/settings.html?profilename=' + url; // redirect
          }
          return false;
      });
    });

 	{% autoescape true %}
    $(document).ready(function() {
        var searchval;
        {%if profile is not null%}
		$("#select-name").val('{{name}}');
        $( "#profile-status" ).prop( "checked", {{profile.isProfileEnabled}} );
        $( "#blog-status" ).prop( "checked", {{profile.isBlogEnabled}} );
        $( "#blockComments" ).prop( "checked", {{profile.isCommentingDisabled()}} );
        $("#blogdescription").val ("{{profile.getBlogDescriptionOpt}}");
        $("#blogtitle").val ("{{profile.getBlogTitleOpt}}");
        $("#avatar").val ("{{profile.getAvatarOpt}}");
        $("#banner").val ("{{profile.getProfileGraphicOpt()}}");
        $('ul.nav-tabs > li').removeClass('active');
        if (window.location.pathname === '/index/blogsearch.html') {
            $('ul.nav-tabs > li:nth-child(2)').addClass('active');
        } else {
            $('ul.nav-tabs > li:nth-child(1)').addClass('active');
        }
        $('#name').val(getSearchParameters().search);
        if (getSearchParameters().search === void 0) {
            $('#name').val('');
        }
        $('#name').bind('oninput', function() {
            $('#name').val(this);
        });
        $('#name').change(function() {
            $('ul.nav-tabs > li:nth-child(1) > a').attr('href', '/index/main.html?search=' + $('#name').val());
            $('ul.nav-tabs > li:nth-child(2) > a').attr('href', '/index/blogsearch.html?search=' + $('#name').val());
        });
        $('ul.nav-tabs > li:nth-child(1) > a').attr('href', '/index/main.html?search=' + $('#name').val());
        $('ul.nav-tabs > li:nth-child(2) > a').attr('href', '/index/blogsearch.html?search=' + $('#name').val());

        $('#button').click(function() {
            var url;
            url = void 0;
            searchval = $('#name').val();
            document.location.href = '/index/main.html?search=' + searchval;
        });
        $('#name').keypress(function(e) {
            if (e.which === 13) {
                $('#button').trigger('click');
            }
        });
        $('#select-name').val();
        $('#profile-status').prop('checked');
        $('#avatar').val();
        $('#banner').val();
        $('#blogtitle').val();
        $('#blog-status').prop('checked');
        $('#blogdescription').val();

		if ($('#profile-status').prop('checked') === false) {
                $('#avatar').attr('disabled', true);
                $('#banner').attr('disabled', true);
            } else {
                $('#avatar').removeAttr('disabled');
                $('#banner').removeAttr('disabled');
            };

        $('#profile-status').change(function() {
            if ($('#profile-status').prop('checked') === false) {
                $('#avatar').attr('disabled', true);
                $('#banner').attr('disabled', true);
            } else {
                $('#avatar').removeAttr('disabled');
                $('#banner').removeAttr('disabled');
            };
        });
            if ($('#blog-status').prop('checked') === false) {
                $('#blogtitle').attr('disabled', true);
                $('#blogdescription').attr('disabled', true);
                $('#blockComments').attr('disabled', true);
            } else {
                $('#blogtitle').removeAttr('disabled');
                $('#blogdescription').removeAttr('disabled');
                $('#blockComments').removeAttr('disabled');
            };
        $('#blog-status').change(function() {
            if ($('#blog-status').prop('checked') === false) {
                $('#blogtitle').attr('disabled', true);
                $('#blogdescription').attr('disabled', true);
                $('#blockComments').attr('disabled', true);
            } else {
                $('#blogtitle').removeAttr('disabled');
                $('#blogdescription').removeAttr('disabled');
                $('#blockComments').removeAttr('disabled');
            };
        });
        $('#settings-submit').click(function() {

        })

		$("#btnAddd").bind("click", Add);

		{% if profile.getBlogBlackWhiteList().isWhitelist() %}
		 $("#select-list-type").val("white");
		 {%else%}
		 $("#select-list-type").val("black");
		{% endif %}
		 {% for bwlistentry in profile.getBlogBlackWhiteList().getBlackwhiteList() %}
			AddValue('{{bwlistentry}}');
		{% endfor %}


		$("#btnShow").bind("click", showAllValue);
		{%else%}
		var searchval
		$('#name').change(function() {
            $('ul.nav-tabs > li:nth-child(1) > a').attr('href', '/index/main.html?search=' + $('#name').val());
            $('ul.nav-tabs > li:nth-child(2) > a').attr('href', '/index/blogsearch.html?search=' + $('#name').val());
        });
		  $('#name').val(getSearchParameters().search);
        if (getSearchParameters().search === void 0) {
            $('#name').val('');
        }
        $('#name').bind('oninput', function() {
            $('#name').val(this);
        });

        $('#button').click(function() {
            var url;
            url = void 0;
            searchval = $('#name').val();
            document.location.href = '/index/main.html?search=' + searchval;
        });

        $('#button').click(function() {
            var url;
            url = void 0;
            searchval = $('#name').val();
            document.location.href = '/index/main.html?search=' + searchval;
        });
        $('#name').keypress(function(e) {
            if (e.which === 13) {
                $('#button').trigger('click');
            }
        });
		 $('ul.nav-tabs > li:nth-child(1) > a').attr('href', '/index/main.html?search=' + $('#name').val());
        	$('ul.nav-tabs > li:nth-child(2) > a').attr('href', '/index/blogsearch.html?search=' + $('#name').val());
		  $('#avatar').attr('disabled', true);
		  $('#banner').attr('disabled', true);
		  $('#blogtitle').attr('disabled', true);
          $('#blogdescription').attr('disabled', true);
          $('#select-name').attr('disabled', true);
          $('#profile-status').attr('disabled', true);
          $('#blog-status').attr('disabled', true);
          $('#blockComments').attr('disabled', true);
          $('#btnAddd').attr('disabled', true);
          $('#select-list-type').attr('disabled', true);
          $('#btnsubmit').attr('disabled', true);
          $('#btncancel').attr('disabled', true);
          $('#btnShow').attr('disabled', true);
		{%endif%}
    });
    {% endautoescape %}

	function Add(){
		AddValue("");
	};

	function AddValue(value){
	$("#tblData tbody").append(
		"<tr>"+
		"<td width=100%><input style='width: 100%;' type='text'/ value='"+value+"'></td>"+
		"<td>&nbsp;<span class=btnDelete style='cursor: pointer;'>&#10006;</span></td>"+
		"</tr>");
		$(".btnDelete").bind("click", Delete);
	};

	function Delete(){
		var par = $(this).parent().parent();
		par.remove();
	};

	function showAllValue(){
		var allData = "";
		var MyRows = $('table#tblData').find('tr');
			for (var i = 1; i < MyRows.length; i++){
					allData += $(MyRows[i]).find('td:eq(0)').children("input[type=text]").val() + "; ";
			}

		alert(allData);

	};

    </script>
    <script type="text/javascript">
    var myApp = angular.module('myApp', []);
    myApp.controller('AppController', function($scope) {
        $scope.steps = {};
    });
    </script>
  </body>
</html>
